<<<<<<< HEAD
﻿body {
}

#TreeView {
    
}
#TreeView ul li a{
    
    font-weight:bold;
    
}

    #TreeView ul li a:hover {
        
        color: blue;
    }
=======
﻿ul.tree, ul.tree ul 
{
    list-style-type: none;
    background: url("vline.png") repeat-y;
    margin: 0;
    padding: 0;
}

ul.tree ul 
{
    margin-left: 10px;
}

ul.tree li 
{
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url("node.png") no-repeat;
    color: #369;
}
ul.tree li.last 
{
    background: #fff url("lastnode.png") no-repeat;
}
.fat-link {
    font-weight: bold;
}
.mt-50 {
    margin-top: 50px;
    display: block;
}
.top-link {
    display: block;
    margin-bottom: 10px;
}
>>>>>>> ecd30b5f8e7ed4399f0a40b8a669fb821436419f
